<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-image: url('https://media1.tenor.com/images/c7ae89ef6a5b9d9e53946a6e7b7de437/tenor.gif?itemid=5575317')">

</body>
</html>
<form action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <button type="submit">뒤로가기</button>
</form>

